@import 'src/theme/app';

mat-card {
  background-color: $clr-bg-card;
  box-shadow: 2px 10px 10px 1px $clr-secondary;
  border-radius: 20px;
}


.textfield {
    width: 100%;
    display: flex;
    margin: 10px 0px;
  }
  
  .textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: $clr-light;
    background-image: url('../../../../../assets/png/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 95%;
    font-size: 12pt;
    box-shadow: 0px 10px 40px $clr-secondary;
    outline: none;
    box-sizing: border-box;
  }
  
  .textfield > label {
    color: $clr-black;
    margin-bottom: 10px;
  }
  
  .textfield > input::placeholder {
    color: $clr-black;
  }

  .btn-pg {
    border-radius: 30px;
    background-color: $clr-pink!important;
    width: 100%;
  }