

  <div class="row">
    <div class="col-lg-15 col-md-4 col-sm-12 mt-3" *ngFor="let item of listUsers">
      <div class="container-card">
        <div class="box">
          <span></span>
          <div class="content">
            <div class="col-12">
              <img src="assets/png/github.png" alt="">
              <p class="g-font-subtitle-1">Rebeca Ribeiro</p>
              <button mat-raised-button class=" g-clr-btn btn-pg" >PRÓXIMA</button>
            </div>
           
         
          </div>
        </div>


      </div>
        
    </div>
</div>