<div class="container g-bg-primary">
  <div class="col-12 justify-content-center">
    <div class="card-1">
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button mat-icon-button (click)="dialogRef.close()" id="fechar">
            <mat-icon mat-dialog-close>close</mat-icon>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <img src="{{ user?.avatar_url }}" alt="" />
          <p class="g-font-subtitle-1">{{ user?.name }}</p>
          <p class="g-font-legend-2">{{ user?.bio }}</p>
          <button
            mat-raised-button
            class="g-clr-btn btn-pg"
            (click)="openGitHubProfile(user.html_url)"
          >
            GitHub
          </button>
        </div>
      </div>
    </div>
    <div class="card-2">
      <div class="g-marginTop-xs ml-negative content-details">
        <div class="d-flex flex-column col-auto">
          <div class="d-flex align-items-center" *ngIf="user?.location">
            <span class="font-caption-3r p-2"
              ><img src="assets/svg/map-pin.svg" alt="" />
            </span>
            <span class="font-caption-3b p-2 g-clr-light">{{
              user.location
            }}</span>
          </div>
          <div class="d-flex align-items-center mt-4" *ngIf="user?.login">
            <span class="font-caption-3r p-2"
              ><img src="assets/svg/github.svg" alt=""
            /></span>
            <span class="font-caption-3b p-2 g-clr-light">{{
              user?.login
            }}</span>
          </div>
          <div
            class="d-flex align-items-center mt-4 g-clr-light"
            *ngIf="user?.twitter_username"
          >
            <span class="font-caption-3r p-2"
              ><img src="assets/svg/twitter.svg" alt=""
            /></span>
            <span class="font-caption-3b p-2">{{ user?.twitter_username }}</span>
          </div>
          <div
            class="d-flex align-items-center mt-4 g-clr-light"
            *ngIf="user?.blog"
          >
            <span class="font-caption-3r p-2"
              ><img src="assets/svg/globe.svg" alt=""
            /></span>
            <span class="font-caption-3b p-2">{{ user?.blog }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
