$font-family: 'Merriweather Sans';

$colorMap: (
  "primary": #19141C,
  "secondary": #37124D,
  "tertiary": #837E9F,
  "light": #f2f4ef,
  "white": #ffffff,
  "btn": rgba(101, 80, 172, 1)
);

$tokens: (
  color: $colorMap,
);


