@import 'src/theme/app';

html,
body {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

body {
  background-image: url('./assets/png/bg-home.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  margin: 0;
  font-family: $font-family;
  overflow-x: hidden;

}

.justify-content-between {
  justify-content: space-between;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

/*Medias queries */

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

