<div class="justify-content-center d-flex">
  <mat-card class="g-bg-primary g-clr-tertiary col-lg-6 col-md-8 col-sm-12">
    <mat-card-content>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12">
          <img src="assets/png/github.png" alt="GitHubIcon" />
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12">
          <div class="form-group textfield">
            <input type="text" class="form-control" placeholder="Buscar" />
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
